{% load static %}

<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
  </head>
  <body>
    <nav>
      <a href="/blog/">Home</a>
      <a href="/blog/entries">Blog</a>
      <a href="/blog/projects">Projects</a>
    </nav>
    <header>
      {% block header %}
      {% endblock %}
    </header>
    <section>
      {% block body %}
      {% endblock %}
    </section>
    <footer>
      Some stuff here
    </footer>
  </body>
</html>